body {
  transition: background-color 1s ease;
  background-color: #ffffff;
}

body.dark {
  transition: background-color 1s ease;
  -webkit-font-smoothing: antialiased;
  /* background-color: #282d35; */
  background-color: #091f42;
  color: #e5e5e6;
}

p > code {
  background-color: rgb(245, 245, 245);
  padding: 15px 40px;
  border-radius: 8px;
  display: flex;
}

body h3 > a {
  color: black !important;
}

body.dark h3 > a {
  color: white !important;
}

body a {
  color: #00c27e !important;
}

body.dark a {
  color: #78d6b5;
}

body.dark blockquote {
  color: #b3b3b8;
}

body.dark blockquote {
  border-left: 0.35rem solid #beebda;
}

body blockquote {
  border-left: 0.35rem solid #00c27e;
}

.image {
  animation: blurIn 1s;
}

@keyframes blurIn {
  0% {
    -webkit-filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
