html,
body {
  height: 100% !important;
}

body {
  transition: background-color 0.5s linear;
  background-color: #f3f3f3;
}

body.dark {
  transition: background-color 0.5s linear;
  -webkit-font-smoothing: antialiased;
  /* background-color: #282d35; */
  background-color: #152139;
  color: #e5e5e6;
}

p > code {
  transition: background-color 0.5s linear;
  background-color: rgb(225, 225, 225);
  padding: 15px 40px;
  border-radius: 8px;
  display: flex;
}

body.dark p > code {
  transition: background-color 0.5s linear;
  background-color: rgb(30, 30, 30);
}

body h3 > a {
  color: black !important;
}

.go-home {
  /* color: rgb(225, 225, 225) !important; */
  color: #00ab84 !important;
}

body.dark h3 > a {
  color: rgb(30, 30, 30) !important;
}

body a {
  /* color: #152139; */
  color: #00ab84;
}

body.dark a {
  /* color: #fff; */
  color: #94dcc0;
}

body.dark .title {
  color: rgb(30, 30, 30) !important;
}

body.dark blockquote {
  color: #b3b3b8;
}

body.dark blockquote {
  border-left: 0.35rem solid #94dcc0;
}

body blockquote {
  border-left: 0.35rem solid #00ab84;
}

body.dark .button {
  color: #e5e5e6;
  border-color: #e5e5e6;
  /* color: #00AB84;
  border-color: #00AB84; */
}

body.dark .button:hover {
  color: white;
  box-shadow: inset 0 0 100px 100px #00ab84;
  border-color: #00ab84;
}

.button:hover {
  transition: all 0.5s linear;
  color: #e5e5e6;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0);
}

.blog-date {
  color: rgb(91, 91, 91);
}

body.dark .blog-date {
  color: darkgray;
}

.fixed-header {
  transition: all 0.5s linear !important;
  position: fixed !important;
  width: 100%;
  max-width: 100vw;
  z-index: 99999;
  transition: background-color 0.5s linear;
  background-color: #00ab84;
  box-shadow: none;
}

body.dark .fixed-header {
  transition: all 0.5s linear !important;
  background-color: #94dcc0;
  color: black !important;
}

.nav-item {
  color: white !important;
  text-decoration: none !important;
}

.nav-item:hover {
  text-shadow: 3px 3px rgb(30, 30, 30) !important;
}

body.dark .nav-item {
  color: #152139 !important;
}

body.dark .nav-item:hover {
  text-shadow: 3px 3px rgb(250, 250, 250) !important;
}

.nav-item-active {
  text-shadow: 3px 3px black;
}

body.dark .nav-item-active {
  text-shadow: 3px 3px rgb(250, 250, 250);
}

.scroll {
  transition: all 0.5s linear;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.4);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;
}

.no-arrow-buttons {
  caret-color: #ff9402;
}

.no-arrow-buttons[type="number"] {
  -moz-appearance: textfield;
}

.no-arrow-buttons::-webkit-outer-spin-button,
.no-arrow-buttons::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.blog-description {
  color: black;
}

.blog-description-container:hover {
  background-color: white;
}

body.dark .blog-description-container:hover {
  background-color: #0c1424 !important;
}

body.dark .blog-description {
  color: rgb(243, 243, 243);
}

.vertical-timeline
  .vertical-timeline--animate
  .vertical-timeline--one-column-left {
  margin-left: 0;
  margin-right: 0 !important;
  padding-right: 0;
}

.vertical-timeline-element-content {
  transition: all 0.5s linear;
  box-shadow: 0 3px #00ab84;
  margin-left: 50px;
  padding-left: 12px;
  font-size: 13px !important;
  font-weight: normal !important;
}

.vertical-timeline-element-icon {
  transition: all 0.5s linear;
  background-color: #00ab84;
}

body.dark .vertical-timeline-element-icon {
  transition: all 0.5s linear;
  background-color: #94dcc0;
  color: #152139 !important;
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 43%;
  top: 40%;
  margin-left: -12px;
  margin-top: -12px;
}

@media (min-width: 768px) {
  .vertical-timeline-element-content {
    transition: all 0.5s linear;
    box-shadow: 0 3px #00ab84;
    margin-left: 50px;
    padding-left: 50px;
    font-weight: normal !important;
    font-size: 16px !important;
  }
}

body.dark .vertical-timeline-element-content {
  transition: all 0.5s linear;
  background-color: #0c1424;
  color: white;
  box-shadow: 0 3px #94dcc0;
}

body.dark .vertical-timeline-element-content-arrow {
  transition: all 0.5s linear;
  border-right: 7px solid #0c1424;
}

li > a,
p > a {
  box-shadow: 0px 3px currentColor;
}

li > a:hover,
p > a:hover {
  transition: all 0.5s linear;
  background-color: #00ab84 !important;
  color: white !important;
}

body.dark p > a:hover,
li > a:hover {
  transition: all 0.5s linear;
  background-color: #94dcc0;
  color: #152139 !important;
}

li {
  list-style-type: "> ";
}

li::marker {
  color: #00ab84;
  text-shadow: 1px 1px black;
  font-weight: bold;
}

body.dark li::marker {
  color: #94dcc0;
  font-weight: bold;
  text-shadow: 1px 1px rgb(250, 250, 250);
}
