body {
  transition: background-color 1s ease;
  background-color: #ffffff;
}

body.dark {
  transition: background-color 1s ease;
  -webkit-font-smoothing: antialiased;
  background-color: #282d35;
  color: #e5e5e6;
}

p > code {
  background-color: rgb(245, 245, 245);
  padding: 15px 40px;
  border-radius: 8px;
  display: flex;
}

body h3 > a {
  color: black !important;
}

body.dark h3 > a {
  color: white !important;
}

body a {
  color: #00c27e !important;
}

body.dark a {
  color: #78d6b5;
}

body.dark blockquote {
  color: #b3b3b8;
}

body.dark blockquote {
  border-left: 0.35rem solid #beebda;
}

.hero-wrapper {
  transition: all 1s ease;
}

.hero-wrapper:hover {
  transition: all 1s ease;
  filter: brightness(50%);
}

.video-bg-wrapper {
  position: relative;
  height: 300px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.video-bg {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
}
