.tags-container {
  transition: background-color 1s ease;
  background-color: #f3f3f3;
}

body.dark .tags-container {
  transition: background-color 1s ease;
  background-color: #282e34;
}

.tag {
  transition: background-color 1s ease;
  background-color: white;
}

.tag:hover {
  filter: brightness(0.95);
}

body.dark .tag {
  transition: background-color 1s ease;
  background-color: rgb(30, 30, 30);
}

body.dark .tag:hover {
  background-color: rgb(30, 30, 30, 0.4);
}
