.tags-container {
  background-color: rgb(0, 0, 0, 0);
}

.tag {
  background-color: white;
  font-family: Montserrat;
  font-weight: 550;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.08);
}

.tag:hover {
  filter: brightness(0.95);
}

body.dark .tag {
  /* background-color: var(--background-light); */
  background-color: #d6d6d6;
  color: var(--text-color-light);
}

body.dark .tag:hover {
  background-color: rgb(30, 30, 30, 0.4);
  color: var(--text-color-dark);
}

.tag-active {
  box-shadow: 0px 3px var(--primary-light);
}

body.dark .tag-active {
  box-shadow: 0px 3px var(--primary-light);
}
