.react-toggle-track {
  width: 55px;
}

.react-toggle-track-check {
  padding-bottom: 16px;
  margin-left: 0px;
}

.react-toggle-track-x {
  padding-bottom: 17px;
  margin-right: 5px;
}

.react-toggle--checked .react-toggle-track {
  background-color: black;
}

.react-toggle--checked .react-toggle-thumb {
  left: 32px !important;
}

.react-toggle-thumb {
  box-shadow: 0 0 2px 3px var(--primary-light) !important;
}

.react-toggle-thumb.dark {
  box-shadow: 0 0 2px 3px var(--primary-dark) !important;
}
