.react-toggle-track {
  width: 55px;
}

.react-toggle-track-check {
  padding-top: 5px;
}

.react-toggle-track-x {
  padding-top: 5px;
  margin-right: 5px;
}

.react-toggle--checked .react-toggle-track {
  background-color: black;
}

.react-toggle--checked .react-toggle-thumb {
  left: 32px !important;
}

.react-toggle-thumb {
  box-shadow: 0 0 2px 3px #78d6b5 !important;
}
